<!--Main Navigation-->
<nav id="nav-main">
    <ul>
      <li>
        <a routerLink="/Home">Home</a>
      </li>
      <li>
        <a routerLink="/About">Products</a>
      </li>
      <li>
        <a routerLink="/Gallery">Cart</a>
      </li>
      <!-- <li>
        <a routerLink="/Content">Content</a>
      </li> -->
      <!-- <li>
        <a routerLink="/Testimonials">Testimonials</a>
      </li>
      <li>
        <a routerLink="/Clients">Clients</a>
      </li>
      <li>
        <a routerLink="/Pricing">Products</a>
      </li> -->
    </ul>
  </nav>
  <!--End of Main Navigation-->
